.lead h1:first-of-type {
  padding-bottom: 0;
}

.h-arrow {
  float: left;
  margin-bottom: 3rem;

  h1 { 
    color: $blue;
    display: inline;
    line-height: 4rem;
  }

  h1 code {
    background-color: transparent;
    color: $blue;
  }

  img { float: right; }
}

.body .urbit {
  .slide {
    margin-bottom: 12rem;
    font-weight: 500;
    position: relative;

    h1 { 
      color: $blue;
      padding-bottom: 1rem;
    }

    .pair {
      display: table;

      .text,
      .image {
        display: table-cell;
        vertical-align: middle;
      }

      .image.right { padding-left: 5%; }
      .image.left { padding-right: 5%; }

      .text { 
        font-size: 1.4rem;
        width: 75%; 
      }
      .image { width: 20%; }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.body[data-path^='/docs'],
.body[data-path^='/work'] {
  h1 { color: $blue; }
  h1 code {
    background-color: transparent;
    color: $blue;
    padding: 0;
  }

  .book {
    h2 { color: $gray-light; }
    
    h2 code { 
      color: $blue;
      background-color: transparent;
    }

    h2 a { color: $blue; }

    hr { margin-bottom: 3rem; }
  }
}

.body[data-path^='/work'] {
  h2 { color: $blue; }
}

.body[data-path^='/docs/system/hoon/runes/'] { h1 { color: $gray-light; } }
.body[data-path^='/docs/system/hoon/runes/basic'] { h1 { color: $blue; } }

.body[data-path^='/docs/system/hoon/library/'] { 
  h3 { font-size: 1.5rem; } 
  h2 { font-size: 1rem; } 
  .toc {
    h3 {
      padding-top: 0;
      margin-bottom: 0;
    }
  }
}
