.body .urbit {
  .logo { background-color: #fff; }

  h1 { 
    color: $brand-primary;
    line-height: 4rem;
  }

  a.green:hover {
    color: $green;
  }

  .container.stack {
    margin-bottom: 3rem;

    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .container.stack.six {
    margin-top: 12rem;
    margin-bottom: 6rem;
  }

  .btn.black {
    text-transform: none;
    text-decoration: none;
    border: 3px solid #000;
    letter-spacing: 0;
    margin-right: 1rem;
  }

  button.submit:hover,
  .btn.black:hover {
    background-color: $brand-primary;
    color: #fff;
  }

  .front {
    padding-bottom: 4rem;

    h1 { padding-top: 0; }

    h1,
    h1 a {
      font-size: 4rem;
      line-height: 6rem;
    }
  }

  .image-fs {
    height: 44rem;
    margin-bottom: 3rem;

    .text-container,
    .image-container {
      position: absolute;
    }

    .text-container {
      display:table;
      height: 44rem;
      width: 100%;
      z-index: 1;

      .text {
        display:table-cell;
        vertical-align: middle;
      }

      .rect {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        h1 { 
          padding-bottom: 1rem;
          text-align: left;
        }
      }

      .rect.no-header {
        font-weight: 500;
        color: #fff;
        font-size: 1.4rem;

        p.email { font-size: 1rem; }
        button.submit {
          background-color: transparent;
          border-color: #fff;
        }
      }
    }

    .image-container {
      z-index: 0;
      height: 44rem;
      width: 100%;
      overflow: hidden;

      img {
        position: relative;
        left: 50%;
        margin-left: -50%;
        top: 50%;
        margin-top: -50%;
        min-height: 44rem;
        min-width: 100%;
      }
    }

    h1 {
      text-align: center;
      color: #fff;
    }
  }

  .image-fs.first {
    margin-top: -9rem;
  }
  
  .slide {
    margin-bottom: 12rem;
    position: relative;

    h1 { padding-bottom: 1rem; }

    .pair {
      display: table;

      .text,
      .image {
        display: table-cell;
        vertical-align: middle;
      }

      .image.right { padding-left: 5%; }
      .image.left { padding-right: 5%; }

      .text { 
        width: 75%; 
      }
      .image { width: 20%; }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .end {
    padding: 1rem;
    background-color: $green;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
  }

  input.email,
  button.submit {
    line-height: 1rem;
    padding: .6rem;
    border: 0;
  }

  input.email {
    font-weight: 500;
    background-color: $gray-light;
    color: #fff;
    margin-right: 1rem;
    border: 3px solid $gray-light;
  }

  input.email::-moz-placeholder { color: #D2D2D2; }
  input.email::-webkit-input-placeholder { color: #D2D2D2; }

  button.submit {
    text-transform: none;
    text-decoration: none;
    border: 3px solid #000;
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 0;
  }

  .last a {
    display:block;
    font-weight: 500;
    color: $gray-light;
  }

  .last h2 {
    padding-top: 0;
    padding-bottom:1rem;
    margin-bottom: 0;
  }
}

.body .urbit.home {
  p.email {
    margin-top: 3rem;
  }
}

@include media-breakpoint-down(sm) {
  .body .urbit {
    margin-top: 4rem;

    .slide .pair {
      &,
      .text,
      .image {
        display: block;
        width: 100%;
      }

      .image { text-align: center; }
      .image.left { margin-bottom: 2rem; }
      .image.right { margin-top: 2rem; }
    }
  }
}
