.lead h1:first-of-type {
  padding-bottom: 0;
}

.h-arrow {
  width: 100%;
  height: 9rem;
  margin-bottom: 3rem;

  h1,
  img { float: left; }

  img {
    height: 6rem;
    margin: 1rem 0 0 1rem;
  }

  h1 { 
    color: $brand-primary;
    display: inline-block;
    line-height: 4rem;
  }

  h1 code {
    background-color: transparent;
    color: $brand-primary;
  }

}

.footer {
  margin-top: 6rem;
  font-weight: 500;
  color: $gray-light;

  a {
    color: $gray;
    text-decoration: none;
    border-bottom: 2px solid $gray;
    margin-left: .6rem;
  }
}

.body[data-path^='/docs'],
.body[data-path^='/work'] {
  h1 { color: $brand-primary; }
  h1 code {
    background-color: transparent;
    color: $brand-primary;
    padding: 0;
  }

  .book {
    h2 { color: $gray-light; }
    
    h2 code { 
      color: $brand-primary;
      background-color: transparent;
    }

    h2 a { color: $brand-primary; }

    hr { margin-bottom: 3rem; }
  }
}

.body[data-path^='/work'] {
  h2 { color: $brand-primary; }
}

.body[data-path^='/docs/system/hoon/runes/'] { h1 { color: $gray-light; } }
.body[data-path^='/docs/system/hoon/runes/basic'] { h1 { color: $brand-primary; } }

.body[data-path^='/docs/system/hoon/library/'] { 
  h3 { font-size: 1.5rem; } 
  h2 { font-size: 1rem; } 
  .toc {
    h3 {
      padding-top: 0;
      margin-bottom: 0;
    }
  }
}
