.lead h1:first-of-type {
  padding-bottom: 0;
}

.h-arrow {
  float: left;
  margin-bottom: 3rem;

  h1 { 
    color: $blue;
    display: inline;
    line-height: 4rem;
  }

  h1 code {
    background-color: transparent;
    color: $blue;
  }

  img { float: right; }
}

.body .urbit {
  h1 { 
    color: $blue;
    line-height: 4rem;
  }

  a { color: $green; }
  
  .slide {
    margin-bottom: 12rem;
    font-weight: 500;
    position: relative;

    h1 { padding-bottom: 1rem; }

    .pair {
      display: table;

      .text,
      .image {
        display: table-cell;
        vertical-align: middle;
      }

      .image.right { padding-left: 5%; }
      .image.left { padding-right: 5%; }

      .text { 
        font-size: 1.4rem;
        width: 75%; 
      }
      .image { width: 20%; }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .end {
    padding: 1rem;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  input.email,
  button.submit {
    line-height: 2rem;
    padding: .6rem;
    border: 0;
  }

  input.email {
    background-color: $gray-light;
    color: #fff;
    margin-right: 1rem;
  }

  input.email::-moz-placeholder { color: #D2D2D2; }
  input.email::-webkit-input-placeholder { color: #D2D2D2; }

  button.submit {
    background-color: $green;
    color: #fff;
  }

  .road {
    border-left: .3rem solid $green;
    padding-left: 3rem;
    padding-bottom: 2rem;
  }

  .road .step {
    padding-top: 2rem;

    h2,
    h3 { 
      display:inline-block;
      padding-top: 0;
      font-size: 1.5rem;
    }

    h2 { 
      color: $green; 
      width: 2rem;
      text-align: center;
    }

    .dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 4px solid $gray-light;
      background-color: $gray-lighter;
      margin: -.5rem 2.65rem 0 -3.65rem;
      vertical-align: middle;
    }

    h3 { 
      color: $blue; 
      margin-left: 1rem;
    }

    p { margin-left: 3rem; }
  }
}

.body[data-path^='/docs'],
.body[data-path^='/work'] {
  h1 { color: $blue; }
  h1 code {
    background-color: transparent;
    color: $blue;
    padding: 0;
  }

  .book {
    h2 { color: $gray-light; }
    
    h2 code { 
      color: $blue;
      background-color: transparent;
    }

    h2 a { color: $blue; }

    hr { margin-bottom: 3rem; }
  }
}

.body[data-path^='/work'] {
  h2 { color: $blue; }
}

.body[data-path^='/docs/system/hoon/runes/'] { h1 { color: $gray-light; } }
.body[data-path^='/docs/system/hoon/runes/basic'] { h1 { color: $blue; } }

.body[data-path^='/docs/system/hoon/library/'] { 
  h3 { font-size: 1.5rem; } 
  h2 { font-size: 1rem; } 
  .toc {
    h3 {
      padding-top: 0;
      margin-bottom: 0;
    }
  }
}
