.add-comment {
    width: 100%;
    border-top: 3px solid $gray-light;
    margin-top: 8rem;

    .btn {
      padding: .6rem .3rem .4rem .3rem;
      text-transform: none;
    }

    .ship {
      display: inline-block;
      margin-top: 2rem;
      background-color: transparent;
      padding: 0;
    }

    textarea {
      width: 100%;
      display: block;
      height: 12rem;
      background-color: $gray-lightest;
      border-bottom: 0;
      margin-bottom: .6rem;
      margin-top: .6rem;
      padding: .3rem;
    }
}

.add-comment,
.comments {
  .ship {
    font-family: 'scp';
    font-size: 1rem;
  }
}

.comments {
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 3px solid $gray-lighter;

  .comment {
    margin-top: 2rem;

    & > span {
      font-family: 'scp';
      font-size: .8rem;
      color: $gray-light;
    }

    h2 {
      padding-top: 0;
      font-size: 1rem;
      font-weight: 500;

      code {
        background-color: transparent;
        padding: 0;
      }
    }

    p {
      width: 66%
    }

    &.loading {
      color: $gray-light
    }

    &.loading > span {
      color: $gray-lighter
    }
  }
}

@include media-breakpoint-down(sm) {
  .add-comment textarea,
  .comments .comment p { width: 100% }
}
