.list {
  h1,
  h1:first-of-type {
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 2rem;
  }
  h1.error {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.list.children {
  h1 {
    font-weight: 500; 
    font-size: 1.4rem;
  }
}

.body[data-path^='/docs'] .list,
.body[data-path^='/work'] .list {
  list-style-type: none;
  padding-left: 0;
  
  a,
  h1 {
    color: $green;
    font-weight: 500;
    height: 2rem;
    display: inline;
    text-decoration: none;
  }

  h1 { 
    border-bottom: 2px solid $green;
  }
}

.body[data-path^='/work'] .list.main {
  a,
  h1 {
    font-size: 2rem;
    line-height: 4rem; 
    height: 4rem;
  }

  h1 { border-width: 4px; }
}

.body[data-path^='/docs'] .list.runes {
  margin-top: 3rem;

  li { height: 3rem; }

  a h1,
  a div,
  a p {
    display: inline;
  }

  a { text-decoration: none; }

  a,
  a h1 code { color: #000; }

  a h1 code { 
    margin-right: 1rem; 
    background-color: transparent;
    color: $blue;
  }

  a code { background-color: $gray-lighter; }

  a code {
    padding: .3rem;
  }

  a:after {
    content: "▶";
    width: 1rem;
    font-size: .6rem;
    vertical-align: middle;
    padding: .3rem;
    padding-top: .4rem;
    line-height: 1rem;
    margin-left: 1rem;
    background-color: $gray-light;
    color: #fff;
  }

  a:hover:after {
    background-color: $blue;
  }
}