.list {
  h1,
  h1:first-of-type {
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 2rem;
  }
  h1.error {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.list.spaced li {
  margin-bottom: 2rem;
}

.list.children {
  h1 {
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.list.post .date {
  font-family: 'scp';
  font-size: .7rem;
  margin-bottom: .6rem;
}

.list.post .author {
  font-size: 1rem;
  padding-top: 0;
}

.list.post .author:before {
  content: "—";
  margin-right: .6rem;
}

.list.p.code {
  background-color: transparent;
}


.body[data-path*='/docs'] .list,
.body[data-path^='/work'] .list {
  list-style-type: none;
  padding-left: 0;

  a,
  h1 {
    color: $black;
    font-weight: 500;
    height: 2rem;
    display: inline;
    text-decoration: none;
  }

  p a {
    font-weight: 400;
    text-decoration: underline;
  }

  h1 { border-bottom: 2px solid #000; }
}

.body[data-path^='/work'] .list.main {
  a,
  h1 {
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
  }

  h1 { border-width: 4px; }
}

.body[data-path*='/docs'] .list.runes {
  a h1,
  a div,
  a p {
    display: inline-block;
  }

  a p { font-weight: 300; }

  a { text-decoration: none; }

  a,
  a h1 code { color: #000; }

  a h1 {
    display: block;
    margin-bottom: .3rem;
    height: auto;
    border-bottom: none;
  }

  a h1 code {
    background-color: transparent;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0;
    border-bottom: 2px solid #000;
  }

  a code { background-color: $gray-lighter; }

  a code {
    padding: .3rem;
  }

  // a:after {
  //   content: "▶";
  //   width: 1rem;
  //   font-size: .6rem;
  //   vertical-align: middle;
  //   padding: .3rem;
  //   padding-top: .4rem;
  //   line-height: 1rem;
  //   margin-left: 1rem;
  //   background-color: $gray-light;
  //   color: #fff;
  // }

  // a:hover:after {
  //   background-color: $black;
  // }
}

.urbit ul.blog {
  list-style-type: none;
  padding-left: 0;

  li { margin-bottom: 12rem; }

  .continue {
    font-weight: 500;
    text-decoration: none;
    border-bottom: 3px solid #000;
  }
}

@include media-breakpoint-down(sm) {
  .urbit ul.blog li { margin-bottom: 6rem; }
}
