.list {
  h1 {
    font-size: inherit;
    font-weight: inherit;
  }
  h1.error {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.list.children {
  h1 {
    font-weight: 500; 
    font-size: 1.4rem;
  }
}