// submenu

@keyframes menu-open {
  0% { visibility:hidden; }
  1% { visibility: visible; }
  100% { visibility: visible; }
}

@keyframes menu-close {
  0% { visibility: visible; }
  1% { visibility: visible; }
  100% { visibility:hidden; }
}

.menu {
  padding-left: 0;
  padding-right: 0;
  overflow:hidden;
  position:fixed;
  z-index:99;
  margin-top: -3rem;

  .contents {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    padding-bottom: 6rem;
    position: relative;
    left: -100%;
    @include transition(left,.3s,ease-in-out);
  }

  .close { margin-top: -2rem; }
  .close:hover { opacity: 1; }

  h2 { 
    font-size: 1rem; 
    padding-top: 3rem;
  }
  h2:first-of-type { padding-top: 0; }
  
  label.sum { 
    font-family: 'scp'; 
    margin-left: $grid-gutter-width/2;
    font-size: 1.2rem;
  }
}

.menu.depth-1 .contents {
  background-color: $gray-lightest;
  border-left: 2px solid $gray-light;
}

.menu.depth-2 .contents {
  background-color: $gray-lighter;
  border-left: 2px solid $gray-light;
}

.menu.closed {
  animation-name: menu-close;
  animation-duration:.3s;
  animation-fill-mode: forwards;
}
.menu.open { 
  animation-name: menu-open;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
.menu.open .contents { left: 0; }

@include media-breakpoint-down(sm) {
  .menu {
    height: 100%;
    padding-left: $grid-gutter-width/2;

    .contents {
      left: inherit;
      top: -100%;
      padding-top: $grid-gutter-width/2;
      @include transition(top,.3s,ease-in-out)
    }

    .close {
      margin-top: 0;
    }
  }

  .menu.open .contents {
    top: 0;
  }
}