// nav

#head {
  @each $break,$max-width in $container-max-widths {
    @include media-breakpoint-up($break) {
      width: $max-width;
    }
  }
}

#head .loading { display: none; }

@include media-breakpoint-down(xs) { 
  #head { 
    top: 0; 
    z-index: 10;
    width: 100%;
    position: absolute;
  } 
  #head.m-down,
  #head.m-up { position: absolute; }
  #head.m-down.m-fixed { position: fixed; }
}
@include media-breakpoint-down(xs) { .nav.container { left: 0; } }

.menu .contents { padding-top: 3rem; }

.ctrl {
  padding-left: 0;  // no outside gutters.
  padding-right: 0;
  background-color: #fff;
  transition: max-width .2s ease-in-out;
  position: fixed;
  z-index:100;

  ul.nav {
    margin-top: 2rem;
    overflow: hidden;

    li {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: .6rem;
    }
  }

  ul.nav:hover {
    overflow:visible;
  }

  a.nav-link { 
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 2px solid;
    line-height: 1rem;
  }
  .selected a.nav-link { font-weight: 500; }
}

.ctrl.navbar {
  position: relative;
  margin-bottom: 3rem;
  padding: 0;
  background-color: transparent;

  .icon,
  ul.nav,
  li { 
    display: inline-block; 
    padding: 0;
  }

  ul.nav {
    margin-top: 0;
    overflow: visible;

    li {
      width: auto;
      display: inline-block;
      min-width: 2/$grid-columns*100%;
    }

    .right { float: right; }
    .btn {
      margin: 0;
      padding: 0;
      border: 0;
      text-transform: none;
    }
  }
}

.ctrl.open,
.ctrl:hover {
  max-width: 4/$grid-columns*100%;
  min-width: 2/$grid-columns*100%;
  width: auto;
}

.ctrl.navbar.open,
.ctrl.navbar:hover {
  max-width: none;
  min-width: none;
}

@include media-breakpoint-down(md) {
  ul.nav { line-height: 1.3rem; }
  a.nav-link { font-size: .8rem; }
}

@include media-breakpoint-down(sm) {
  .ctrl {
    position: relative;
    max-height: 3rem;
    max-width: 100%;
    padding-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 2px solid $gray-light;
    @include transition(max-height,.2s,ease-in-out)

    ul.nav {
      line-height: 2rem;
      margin: 0 0 2rem $grid-gutter-width/2;
    }
  }

  .ctrl.open,
  .ctrl:hover {
    width: inherit;
    max-width: inherit;
  }

  .ctrl.open {
    max-height: 12rem;  
  }

  a.nav-link { 
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    border-bottom: 2px solid;
  }

  .ctrl.open {
    ul.nav {
      max-height: 9rem;
      overflow-y: scroll;
    }
  }
}

.navbar-toggler {
  font-size: 24px;
  transition: opacity .2s, transform .3s, margin-left .2s;
  -webkit-transition: opacity .2s, transform .3s, margin-left .2s;
}

.open .navbar-toggler {
  transform: rotate(.25turn);
  opacity: .2;
  margin-left: -.2rem;
}

@include media-breakpoint-up(md) {
  .ctrl .navbar-toggler { display: none; }
  .ctrl .navbar-toggler.show { 
    display: block; 
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-toggler {
    padding: 0;
    margin-left: 2rem;
    vertical-align: top;
    line-height: 18px;
  }
  .open .navbar-toggler { margin-left: 2rem; }
}

.icon {
  div, a { display: inline-block; }
  a { margin-right: .6rem; }

  .home { 
    margin: 0 $grid-gutter-width/2 $grid-gutter-width/2 0;
    @include circle(24px,transparent); 
    border: 6px solid $gray-light;
    cursor: pointer;
  }

  .home:hover { border-color: $gray; }

  .dpad { display: block; }

  .up { @include arrow(top,18px,#000); }
  .prev { @include arrow(left,18px,#000); }
  .next { @include arrow(right,18px,#000); margin-right: 0; }
}

@include media-breakpoint-down(md) {
  .icon {
    .home { @include circle(18px,transparent); border-width: 4px;}
    .up { @include arrow(top,12px,#000); margin-left: 1px; }
    .prev { @include arrow(left,12px,#000); margin-right: .6rem }
    .next { @include arrow(right,12px,#000); }
  }
}

@include media-breakpoint-down(sm) {
  .icon { 
    margin-left: $grid-gutter-width/2;
    height: 2rem;

    .dpad { display: inline; }
    .home { margin-top: 0; margin-bottom: 0; }
  }
}

// doc execption
// XX should go somewhere else?

[data-path^='/docs'] .selected .nav-link,
[data-path^='/work'] .selected .nav-link { color: $gray; }

[data-path^='/docs'] .nav-link,
[data-path^='/work'] .nav-link { font-weight: 500; }

[data-path^='/docs'] .home,
[data-path^='/work'] .home {
  background-color: $gray;
  border-color: $gray;
}

[data-path^='/docs'] .home:hover,
[data-path^='/work'] .home:hover {
  background-color: $gray-light;
  border-color: $gray-light;
  opacity: .6;
}

[data-path^='/docs'] .home:before,
[data-path^='/work'] .home:before {
  content: "~";
  color: #fff;
  line-height: .8rem;
  font-size: 1.4rem;
  padding-left:1px;
}

@include media-breakpoint-down(md) {
  [data-path^='/docs'] .home:before,
  [data-path^='/work'] .home:before {
    line-height: 0.7rem;
    font-size: 1rem;
    margin-left: .06rem;
  }
}

@include media-breakpoint-down(sm) {
  [data-path^='/docs'] .home:before,
  [data-path^='/work'] .home:before {
    line-height: .7rem;
    margin-left: .05rem;
    font-size: 1rem;
  }
}

[data-path^='/docs/system/hoon/runes'] .nav-link { font-family: 'scp'; }
[data-path^='/docs/system/hoon/runes'] .nav-link,
[data-path^='/docs/system/hoon/runes'] .ctrl .selected a.nav-link { 
  font-weight: 600; 
}

// menu

.app {
  vertical-align: top;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-top: 0;
}

@include media-breakpoint-down(md) {
  .app { 
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}

@include media-breakpoint-down(sm) {
  .app {
    margin-top: .1rem;
    line-height: 1rem;
  }
}

.context {
  margin-top: 1rem;
  
  .name { 
    font-weight: 300; 
    font-size: 1.2rem; 
    font-family: 'scp';
  }
}

@include media-breakpoint-down(md) {
  .context .name {
    font-size: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .context {
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}
