// urbit.org navbar

.urbit.navbar.ctrl {
  .icon .home {
    border-color: $blue;
    background-color: $blue;
    width: 3rem;
    height: 3rem;
    margin: 0 4rem 0 0;
  }

  .icon .home:before {
    content: "~";
    color: #fff;
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    width: 2.4rem;
    display: inline-block;
  }

  ul.nav {
    li {
      height: 3rem;
      vertical-align: middle;
    }

    li a {
      text-decoration: none;
      color: $gray-light;
      font-weight: 500;
      font-size: 1rem;
      line-height: 3rem;
    }

    .btn {
      border: 3px solid $blue;
      margin-top: -3px;
      height: 3rem;
      padding: 0rem;

      a { 
        font-size: 1rem;
        color: $blue;
        letter-spacing: 0; 
      }
    }

    .btn.selected,
    .btn:hover {
      background-color: $blue;
      a { color: #fff; }
    }

    li a:hover,
    li.selected a {
      color: $blue;
    }
  }

  .subnav {
    ul.nav {
      height: 1.5rem;

      li { height: 1.5rem; }
      li a { line-height: 1.5rem; }
      
      .btn {
        position:relative;
        height: 3rem;
        a{ line-height: 3rem; }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .urbit.navbar.ctrl {
    .icon {
      margin-top: .5rem;
      margin-bottom: .5rem;

      .home {
        width: 2rem;
        height: 2rem;
        margin: 0;
      }

      .home:before {
        font-size: 1.6rem;
        line-height: 1.8rem;
        width: 1.6rem;
      }
    }

    .navbar-toggler { 
      margin-top: .5rem;
      margin-left: 1rem;
    }

    ul.nav,
    .subnav ul.nav {
      overflow: visible;
      height: auto;
      margin-left: 3rem;
      float: left;

      li { 
        display: block;
        height: 1.5rem;
        a { line-height: 1.5rem; }
      }

      li.btn {
        height: 1.5rem;
        border: 0;
        a { 
          color: $green; 
          line-height: 1.5rem;
        }
      }
    }
  }
}
