// nav

.nav.container {
  position: fixed;
  left: 50%;
  width: 100%;
  padding-top: 0;
  @each $break,$max-width in $container-max-widths {
    @include media-breakpoint-up($break) {
      margin-left: -$max-width/2;
    }
  }
}

.nav.container .loading {
  padding-top: 3rem;
  display:block;
}

@include media-breakpoint-down(sm) { 
  .nav.container { top: 0; } 
  .nav.container.m-down,
  .nav.container.m-up { position: absolute; }
  .nav.container.m-down.m-fixed { position: fixed; }

  .nav.container .loading {
    padding-top: 0;
  }
}
@include media-breakpoint-down(xs) { .nav.container { left: 0; } }

.menu .contents { padding-top: 3rem; }

.ctrl {
  padding-left: $grid-gutter-width/2;  // no outside gutters.
  background-color: #fff;
  max-width: 2/$grid-columns*100%;
  transition: max-width .2s ease-in-out;
  position: fixed;
  z-index:100;

  ul.nav {
    margin-top: 2rem;
    overflow: hidden;

    li {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  ul.nav:hover {
    overflow:visible;
  }

  a.nav-link:hover { text-decoration:underline; }
  a.nav-link { letter-spacing: 1px; }
  .selected a.nav-link { 
    font-weight: 500; 
    letter-spacing: 0;
  }
}

.ctrl.open,
.ctrl:hover {
  max-width: 4/$grid-columns*100%;
  min-width: 2/$grid-columns*100%;
  width: auto;
}

@include media-breakpoint-down(md) {
  ul.nav { line-height: 1.3rem; }
  a.nav-link { font-size: .8rem; }
}

@include media-breakpoint-down(sm) {
  .ctrl {
    position: relative;
    max-height: 3rem;
    max-width: 100%;
    padding-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 2px solid $gray;
    @include transition(max-height,.2s,ease-in-out)
  }

  .ctrl.open,
  .ctrl:hover {
    width: inherit;
    max-width: inherit;
  }

  ul.nav {
    line-height: 2rem;
    margin-bottom: 2rem;  
  }

  a.nav-link { font-size: 1rem; }

  .ctrl.open {
    max-height: 36rem;

    ul.nav {
      max-height: 9rem;
      overflow-y: scroll;
    }
  }

  ul.nav {
    margin-top: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .ctrl {
    padding-left: $grid-gutter-width;
  }
}

.navbar-toggler {
  font-size: 24px;
  transition: opacity .2s, transform .3s;
  -webkit-transition: opacity .2s, transform .3s;
}

.open .navbar-toggler {
  transform: rotate(.25turn);
  opacity: .2;
}

@include media-breakpoint-up(md) {
  .ctrl .navbar-toggler { display: none; }
  .ctrl .navbar-toggler.show { 
    display: block; 
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-toggler {
    padding: 0;
    margin-left: 2rem;
    vertical-align: top;
    line-height: 18px;
  }
}

.icon {
  div, a { display: inline-block; }
  a { margin-right: .6rem; }

  .home { 
    margin: 6px 9px 12px 0;
    @include circle(24px,transparent); 
    border: 6px solid $gray-light;
    cursor: pointer;
  }

  .home:hover { border-color: $gray; }

  .dpad { display: block; }

  .up { @include arrow(top,18px,#000); }
  .prev { @include arrow(left,18px,#000); }
  .next { @include arrow(right,18px,#000); margin-right: 0; }
}

@include media-breakpoint-down(md) {
  .icon {
    .home { @include circle(18px,transparent); border-width: 4px;}
    .up { @include arrow(top,12px,#000); margin-left: 1px; }
    .prev { @include arrow(left,12px,#000); margin-right: .6rem }
    .next { @include arrow(right,12px,#000); }
  }
}

@include media-breakpoint-down(sm) {
  .icon { 
    margin-left: -$grid-gutter-width/2;
    height: 2rem;

    .dpad { display: inline; }
    .home { margin-top: 0; margin-bottom: 0; }
  }
}

// menu

.app {
  vertical-align: top;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin-top: 9px;
}

@include media-breakpoint-down(md) {
  .app { 
    font-size: 1.1rem;
    margin-top: 6px;
  }
}

@include media-breakpoint-down(sm) {
  .app {
    margin-top: .1rem;
    line-height: 1rem;
  }
}

.context {
  margin-top: 1rem;
  
  .name { 
    font-weight: 300; 
    font-size: 1.2rem; 
    font-family: 'scp';
  }
}

@include media-breakpoint-down(md) {
  .context .name {
    font-size: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .context {
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}