#body.post {
  .date {
    font-family: 'scp';
    color: $gray-light;
    font-size: .7rem;
    font-weight: 200;
  }

  .date,
  p.preview,
  h3.author { margin-bottom: .6rem; }

  h3.author {
    padding-top: 0;
    font-size: 1rem;
    font-weight: 200;
  }

  h3.author:before {
    content: "—";
    margin-right: .6rem;
  }
}

.urbit .post,
.urbit.post {
  h1.title,
  p.preview { font-weight: 500; }

  h1.title {
    font-size: 2rem;
    padding-bottom: 0;
  }

  h1.title,
  img {
    width: 100%;
    margin-bottom: 2rem;
  }

  img { border: 12px solid #000; }
}

.urbit .post img { max-width: 24rem; }

.urbit.post {
  .preview { display:none; }
}
