#body.post {
  .date {
    font-family: 'scp';
    color: $gray-light;
    font-size: .7rem;
    font-weight: 200;
  }

  .date,
  p.preview,
  h3.author { margin-bottom: .6rem; }

  h3.author {
    padding-top: 0;
    font-size: 1rem;
  }

  h3.author:before {
    content: "—";
    margin-right: .6rem;
  }
}

.urbit .post,
.urbit.post {
  h1.title,
  p.preview { font-weight: 500; }

  h1.title {
    font-size: 2rem;
    padding-bottom: 0;
  }

  h1.title,
  img {
    width: 600px;
    margin-bottom: 2rem;
  }

  img { border: 12px solid #000; }

  img.full-width {
    width: 100%;
    border: 0;
  }

  img.inline {
    margin-bottom: 0;
  }

  p.preview {
    margin-bottom: .6rem;
    max-width: 32rem;
  }
  h3.author {
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .urbit .post h1.title,
  .urbit .post img {
    max-width: 100%;
  }
}

.urbit.post .person {
  margin-bottom: 2rem;

  &:first-of-type { margin-top: 3rem; }
  &:last-of-type { margin-bottom: 3rem; }

  & > p,
  img { display: inline-block; }

  & > p { width: 60%; }

  img {
    width: 30%;
    margin: 0 2rem 0 0;
    border: 6px solid #555;
  }
}

.urbit .post h1.title {
  line-height: 3rem;
}

.urbit .post img { max-width: 32rem; }

@include media-breakpoint-down(sm) {
  .urbit .post img {
    max-width: 100%;
    border-width: 6px;
  }
}

.urbit.post {
  .preview { display:none; }
}
