@import "./bootstrap/scss/_custom.scss";

.sections {
  h1 {
    font-size: 2rem;
    color: $blue;
  }

  h1:first-of-type {
    padding-bottom: 0;
  }

  li h1 { font-size: 1.2rem; }

  ul {
    list-style-type: none;
    font-weight: 500;
    padding-left: 0;
  }

  ul li,
  ul li a,
  ul li h1 span {
    color: $green;
    height: 2rem;
  }

  .kids > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 3rem;
    margin-top: 2rem;
    min-width: 14rem;
    margin-bottom: 3rem;
  }

  .kids > div p { font-weight: 500; }

  hr { display: none; }
}

.lead-offset { margin-left: 8rem; }

@include media-breakpoint-down(md) { 
  .lead-offset { margin-left: 4rem; }
}

@include media-breakpoint-down(sm) { 
  .lead-offset { margin-left: 0; }

  .sections {
    h1 { font-size: 1.6rem;}
  }
}