.col-md-10.body { padding-left: 0; }

@include media-breakpoint-down(sm) {
  .col-md-10.body { 
    margin-top: $grid-gutter-width/2; 
    padding-left: $grid-gutter-width/2; 
  }
}

img.logo {
  height: 2rem;
  width: 2rem;
}

img.logo.first {
  margin-bottom: 2rem;
}

div.logo {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -.8rem;
  background-color: $brand-primary;
}

div.logo:before {
  content: "~";
  color: $gray-light;
  font-size: 2.6rem;
  vertical-align: middle;
  line-height: 3rem;
  margin-top: .2rem;
  text-align: center;
  width: 2rem;
  display: inline-block;
}

div.logo.inverse:before {
  color: #fff;
}

.lead .logo.inverse {
  margin-top: -1.4rem;
}

.short {
  width: 9 / $grid-columns * 100%;
}

.meta-data {
  padding: 1rem;
  background-color: $gray-lightest;
  font-family: 'scp';
  max-width: 12rem;
  margin-bottom: 2rem;

  h2,
  h3 { 
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 2rem;
  }
}

.link-next {
  margin-top: 4rem;

  a {
    padding: .6rem;
    border: 2px solid;
    text-decoration: none;
    font-weight: 500;
    margin-top: 4rem;
  }

  a:hover {
    background-color: #000;
    color: #fff;
  }
}

.loading:before { 
  font-family: 'scp';
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  font-size: .8rem;
  display: block;
  font-weight: 600;
  z-index: 3;
}
.loading.state-0:before { content: "\25D3"; }
.loading.state-1:before { content: "\25D1"; }
.loading.state-2:before { content: "\25D2"; }
.loading.state-3:before { content: "\25D0"; }
