@import "../bootstrap/scss/mixins/grid.scss";

img.logo {
  height: 2rem;
  width: 2rem;
}

img.logo.first {
  margin-bottom: 2rem;
}

.short {
  width: 9 / $grid-columns * 100%;
}

.loading:before { 
  font-family: 'scp';
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  font-size: .8rem;
  display: block;
  font-weight: 600;
  z-index: 3;
}
.loading.state-0:before { content: "\25D3"; }
.loading.state-1:before { content: "\25D1"; }
.loading.state-2:before { content: "\25D2"; }
.loading.state-3:before { content: "\25D0"; }