@import "../bootstrap/scss/mixins/grid.scss";

img.logo {
  height: 2rem;
  width: 2rem;
}

img.logo.first {
  margin-bottom: 2rem;
}

.short {
  width: 9 / $grid-columns * 100%;
}

.loading { 
  background-color: #000;
  color: #fff;
  padding: .6rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 3;
}
.loading.state-0:before { content: "\25D3"; }
.loading.state-1:before { content: "\25D1"; }
.loading.state-2:before { content: "\25D2"; }
.loading.state-3:before { content: "\25D0"; }