{
  "extends":"airbnb",
  "env": {
    "browser": true
  },
  "globals": {
      "React": false,
      "ReactDOM": false,
      "Flux": false,
      "_": false,
      "$": false,
      "urb": false
    }
}
