{
  "extends":"airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-param-reassign": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]}],
    "no-underscore-dangle": 0
  },
  "globals": {
      "React": false,
      "ReactDOM": false,
      "Flux": false,
      "_": false,
      "$": false,
      "urb": false
    }
}
